@font-face {
  font-family: Audiowide;
  src: url('../fonts/Audiowide-Regular.ttf');
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: SourceCodePro;
  src: url('../fonts/SourceCodePro-VariableFont_wght.ttf');
}

h1, .post-title {
  font-family: Audiowide, sans-serif !important;
}

h2,h3,h4,h5,h6 {
  font-family: Montserrat, sans-serif !important;
}

p, .paragraph {
  font-family: Montserrat, sans-serif !important;
}

.nav-item {
  font-family: Audiowide, sans-serif !important;
}

body {
  font-family: Montserrat, sans-serif !important;
}

code {
  font-family: SourceCodePro, monospace !important;

}

.footnotes * {
  font-size: 12px !important;
}

p a {
  color: #721c24 !important;
  font-weight: 500;
}

pre code {
  font-weight: 200 !important;
  -webkit-font-smoothing: none !important;
}